.inp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inp label {
  width: fit-content;
  text-transform: capitalize;
  cursor: text;
}

.inp .input-wrapper,
.inp textarea {
  border-radius: 4px;
  padding: 10px;
  background-color: var(--section-color);
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  color: var(--font-color);
}

.inp div input {
  flex: 1;
  border: none;
  background-color: transparent;
  color: var(--font-color);
}
.inp .input-wrapper .password {
  cursor: pointer;
  color: var(--font-color);
}
.inp .input-wrapper .password:hover {
  color: var(--main-color);
}

.select-input label.title {
  text-transform: capitalize;
  width: fit-content;
  cursor: text;
  color: var(--font-color);
}

.select-input .placeholder {
  background-color: var(--section-color);
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  color: var(--font-color);
  font-size: 14px;
}
.select-input .placeholder i {
  font-size: 12px;
}

.select-input .options > div {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
}
.select-input .options > div i {
  font-size: 80%;
}
.select-input .options {
  position: absolute;
  background: var(--body-color);
  width: 100%;
  top: 43px;
  max-height: 0px;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-input .options.active {
  max-height: 200px;
  overflow: auto;
}
.select-input .options article {
  width: 100%;
}
.select-input .options h3 {
  text-transform: capitalize;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 13px;
  width: 100%;
  color: var(--font-color);
}
.select-input .options h3:hover {
  background-color: var(--section-color);
}
.select-input label.auto-complete-search {
  background: var(--section-color);
  padding: 5px 7px;
  font-size: 13px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: text;
  width: 96%;
  top: 0;
  position: sticky;
  color: var(--font-color);
}
.select-input label.auto-complete-search input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: var(--font-color);
}
.highlight {
  background-color: var(--section-color);
}
.course-status.select-input.Completed .placeholder {
  background-color: rgba(0, 0, 255, 0.134);
  color: blue;
}
.course-status.select-input.Active .placeholder {
  background-color: rgba(0, 128, 0, 0.067);
  color: green;
}
.course-status.select-input.Dropped .placeholder {
  color: red;
  background-color: rgba(255, 0, 0, 0.119);
}
.course-status.select-input h3.completed {
  color: blue;
}
.course-status.select-input h3.active {
  color: green;
}
.course-status.select-input h3.dropped {
  color: red;
}
