.questions-section > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  position: relative;
}
.questions-section > div .remove-question {
  position: absolute;
  right: 0;
  top: -10px;
}
.questions-section > div .true .placeholder {
  background-color: rgba(18, 92, 18, 0.153);
  color: rgb(14, 123, 14);
}
.questions-section > div .false .placeholder {
  background-color: rgba(255, 0, 0, 0.153);
  color: red;
}
.questions-section > div .multi-questions {
  width: 100%;
}
.questions-section > div .multi-questions > div {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

td .quize-status {
  text-transform: capitalize;
  font-weight: bold;
}
td .quize-status.passed {
  color: #0a15a1;
}
td .quize-status.done {
  color: #c61515;
}
td .quize-status.started {
  color: #2e912e;
}

.quiz-title > div {
  color: var(--font-color);
}
.questions-space {
  margin: 25px 0;
}
h2.time {
  color: var(--font-color);
}
h2.time span {
  color: var(--main-color);
}
.questions-space > h3 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.questions-space > div {
  padding: 0 20px;
  margin-bottom: 10px;
}
.questions-space > div h2 {
  font-size: 20px;
}
.questions-space > div h2:not(.true-false) {
  color: var(--main-color);
}
.questions-space > div h2.true-false {
  padding: 10px 20px;
  background: var(--body-color);
  border-radius: 6px;
  color: var(--font-color);
}
.questions-space > div i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.questions-space > div i.true {
  color: #0e9e32;
  border: dashed 1.5px #0e9e32;
}
.questions-space > div i.false {
  color: #e60404;
  border: dashed 1.5px #e60404;
}
.questions-space > div i.false:hover,
.questions-space > div i.false.active {
  background-color: #e60404;
  color: white;
  border: dashed 1.5px transparent;
}
.questions-space > div i.true:hover,
.questions-space > div i.true.active {
  border: dashed 1.5px transparent;
  background-color: #0e9e32;
  color: white;
}
.multi {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.questions-space > div article > label div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.questions-space > div article > label div::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  outline: solid 2px #00aeff;
}
.questions-space > div article > label h4 {
  font-size: 20px;
  background-color: var(--body-color);
  border-radius: 6px;
  padding: 10px;
  color: var(--font-color);
}
.questions-space > div article > label:hover h4,
.questions-space > div article > label .active h4 {
  background-color: #01f7ff17;
}

.questions-space > div article > label div.active::before {
  background-color: #00aeff;
  border: solid 2px var(--section-color);
}

@media (max-width: 1000px) {
  .questions-space > div h2.true-false,
  .questions-space > div article > label h4 {
    padding: 7px 20px;
    font-size: 18px;
  }

  .questions-space > div i {
    width: 35px;
    height: 35px;
    font-size: 17px;
  }
  div.quiz-title > div h2,
  h2.time {
    font-size: 20px;
  }
  div.quiz-title > div h3 {
    font-size: 18px;
  }
  .questions-space > div article > div {
    font-size: 17px;
  }
  .questions-space > div h2 {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .questions-space > div h2.true-false,
  .questions-space > div article > label h4 {
    padding: 6px 15px;
    font-size: 16px;
  }
  .questions-space > div i {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
  div.quiz-title > div h2,
  h2.time {
    font-size: 18px;
  }
  div.quiz-title > div h3 {
    font-size: 17px;
  }
  .questions-space > div {
    padding: 0;
  }
  .questions-space {
    margin: 20px 0 25px;
  }
  .questions-space > div .gap-10 {
    gap: 8px;
  }
  .questions-space > div article > div {
    font-size: 14px;
  }
  .questions-space > div article > label div::before {
    width: 8px;
    height: 8px;
  }
  .questions-space > div h2 {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .questions-space > div h2.true-false,
  .questions-space > div article > label h4 {
    padding: 6px 10px;
    font-size: 15px;
  }
  .questions-space > div i {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
  div.quiz-title > div h2,
  h2.time {
    font-size: 16px;
  }
  div.quiz-title > div h3 {
    font-size: 15px;
  }

  .questions-space {
    margin: 15px 0 25px;
  }
  .questions-space > div .gap-10 {
    gap: 7px;
  }
  .questions-space > h3 {
    font-size: 16px;
  }
  .questions-space > div article > div {
    font-size: 13px;
  }
  .multi {
    flex-direction: column;
  }
  .questions-space > div h2 {
    font-size: 15px;
  }
}
@media (max-width: 460px) {
  div.quiz-title > div h2,
  h2.time {
    font-size: 14px;
  }
  div.quiz-title > div h3 {
    font-size: 14px;
  }
  .questions-space > div i {
    width: 23px;
    height: 23px;
    font-size: 9px;
  }
  .questions-space > div h2.true-false,
  .questions-space > div article > label h4 {
    padding: 5px 8px;
    font-size: 13px;
  }
  .questions-space > h3 {
    font-size: 15px;
  }
  .questions-space > div article > div {
    font-size: 11px;
  }
  .questions-space > div article > label div::before {
    width: 7px;
    height: 7px;
  }
  .questions-space > div h2 {
    font-size: 14px;
  }
}
