form.login {
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
  width: 75%;
  border-radius: 10px;
  overflow: hidden;
}
form.user {
  margin-bottom: 30px;
}
form.login img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form.login > .flex > div.forms {
  justify-content: center;
  flex: 50%;
  padding: 30px 40px;
}
form.login > .flex > div.forms > h1 {
  color: var(--font-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form.login .input-wrapper::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1.5px;
  left: 50%;
  transform: translateY(-50%);
  background: var(--main-color);
  bottom: 0;
  transition: 0.4s;
}
form.login .input-wrapper::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1.5px;
  right: 50%;
  transform: translateY(-50%);
  background: var(--main-color);
  bottom: 0;
  transition: 0.4s;
}

form.login .input-wrapper:focus-within:before,
form.login .input-wrapper:focus-within:after {
  width: 50%;
}
form.login .inp {
  margin-bottom: 20px;
}

form.login > .flex > div.forms .btn {
  width: 100%;
  display: block;
  font-size: 18px;
}
form.login > .flex > div.image {
  flex: 50%;
  background-color: rgba(0, 0, 0, 0.253);
}
form.table-form {
  background-color: var(--body-color);
  padding: 30px;
  box-shadow: var(--box-shadow);
  width: 300px;
}
form.table-form h1 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 27px;
}
form.table-form .actions {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  flex-wrap: wrap;
}
form.table-form .actions .btn {
  flex: 1;
}

.dashboard-form {
  background-color: var(--body-color);
  padding: 30px;
  box-shadow: var(--box-shadow);
  margin-bottom: 15px;
}
.dashboard-form h1 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 27px;
}
.dashboard-form > div {
  gap: 30px;
}
.dashboard-form label {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--font-color);
  cursor: text;
  width: fit-content;
}
.dashboard-form .inp {
  flex: 1;
  min-width: 300px;
}

.dashboard-form .btn:not(.selected-value) {
  margin-top: 20px;
}
.dashboard-form .btn.question {
  width: auto;
}
.array-of-values {
  display: flex;
  gap: 5px;
  white-space: nowrap;
  overflow-x: auto;
}

i.password {
  cursor: pointer;
}

.overlay form {
  border-radius: 10px;
}
.overlay form label {
  margin: 0;
}

.overlay .dashboard-form .flex-direction {
  gap: 10px;
}
.overlay .dashboard-form .btn:not(.selected-value) {
  margin: 0;
  width: 100%;
  font-size: 20px;
  padding: 8px;
}
.overlay .dashboard-form {
  padding: 10px;
  width: 100%;
  margin-top: 0px;
}

form.exam-result {
  margin-bottom: 30px;
}

form.quize {
  margin: 30px 0;
}

.add-question {
  display: block;
  border-radius: 6px;
  background: var(--section-color);
  padding: 10px;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--font-color);
  cursor: pointer;
  flex: 1;
  text-align: center;
  min-width: 210px;
}
.add-question.multi-add {
  width: fit-content;
  margin-top: 20px;
  min-width: 150px;
}
.add-question:hover {
  background-color: var(--main-color);
  color: white;
}
form.quize i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 40px;
  width: 40px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px dashed;
}
form.quize i.delete {
  position: absolute;
  height: fit-content;
  right: 0;
  padding: 8px;
  font-size: 11px;
  color: brown;
  border: dashed 1px brown;
  width: auto;
}
body.arabic form.quize i.delete {
  left: 0;
  right: auto;
}
form.quize i.delete:hover {
  color: white;
  background-color: brown;
  border: dashed 1px var(--body-color);
}
form.quize i.true {
  color: forestgreen;
}
form.quize i.false {
  color: brown;
}
form.quize i.true.active,
form.quize i.true:hover {
  border: solid 1px transparent;
  background-color: forestgreen;
  color: white;
}
form.quize i.false.active,
form.quize i.false:hover {
  border: solid 1px transparent;
  color: white;
  background-color: brown;
}

.field-error {
  padding: 8px;
  color: red;
  background-color: rgba(255, 0, 0, 0.086);
  margin-top: 5px;
  text-transform: capitalize;
  text-align: center;
  border-radius: 4px;
}

@keyframes rotate {
  100% {
    rotate: 365deg;
  }
}

@media (max-width: 1000px) {
  form.login {
    width: 85%;
  }
  form.login > .flex > div.forms {
    padding: 30px;
  }

  form.login > .flex > div.forms label,
  form.login > .flex > div.forms .btn {
    font-size: 17px;
  }
  form.login > .flex > div.forms > h1 {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  .dashboard-form > div {
    gap: 20px;
  }

  .dashboard-form h1 {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .dashboard-form label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .dashboard-form .flex-direction .inp {
    padding: 8px;
    font-size: 17px;
  }

  .dashboard-form .flex-direction {
    min-width: 250px;
  }
  .add-question {
    padding: 8px;
    font-size: 14px;
  }
  form.quize i.delete {
    padding: 7px;
    font-size: 10px;
  }
  form.quize i {
    padding: 9px;
    font-size: 12px;
    height: 35px;
    width: 35px;
  }
  .add-question.multi-add {
    width: 100%;
    margin-top: 20px;
    min-width: auto;
  }
  form.quize .gap-10 {
    gap: 8px;
  }

  form.login {
    width: 65%;
  }
  form.login > .flex > div.image {
    display: none;
  }
  .field-error {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .dashboard-form {
    padding: 20px 15px;
  }
  .dashboard-form h1 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .dashboard-form label {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .dashboard-form .flex-direction .inp {
    font-size: 15px;
  }
  .dashboard-form > div {
    gap: 10px;
  }

  .dashboard-form {
    padding: 20px;
  }
  form.quize i.delete {
    padding: 6px;
    font-size: 9px;
    top: -1px;
    width: auto;
  }
  form.quize i {
    padding: 7px;
    font-size: 11px;
    height: 30px;
    width: 30px;
  }

  form.login {
    width: 80%;
  }
  .inp .input-wrapper .password {
    font-size: 12px;
  }
  .field-error {
    font-size: 12px;
    padding: 6px;
  }
}

@media (max-width: 500px) {
  .dashboard-form .inp {
    min-width: auto;
    flex: 48%;
  }
  .dashboard-form .flex-direction {
    min-width: auto;
    flex: 100%;
  }
  .overlay .dashboard-form .flex-direction {
    min-width: 260px;
  }
  .dashboard-form h1 {
    font-size: 15px;
  }
  .dashboard-form label {
    font-size: 14px;
  }
  .dashboard-form .flex-direction .inp {
    font-size: 14px;
  }

  .add-question {
    font-size: 12px;
  }
  form.quize i {
    padding: 6px;
    font-size: 10px;
    height: 25px;
    width: 25px;
  }
  form.quize i.delete {
    padding: 6px;
    font-size: 8px;
    top: 0px;
    width: auto;
  }

  form.login {
    width: 90%;
  }
  form.login > .flex > div.forms {
    padding: 40px 30px;
  }
  form.login > .flex > div.forms > h1 {
    font-size: 22px;
  }
  form.login > .flex > div.forms label,
  form.login > .flex > div.forms .btn {
    font-size: 16px;
  }
}
