form.login {
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
  width: 75%;
  border-radius: 10px;
  overflow: hidden;
}
form.user {
  margin-bottom: 30px;
}
form.login img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form.login > .flex > div.forms {
  justify-content: center;
  flex: 50%;
  padding: 30px 40px;
}
form.login > .flex > div.forms > h1 {
  color: var(--font-color);
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
form.login > .flex > div.forms label {
  color: var(--font-color);
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
}
form.login > .flex > div.forms > .inp {
  background-color: var(--section-color);
  border-radius: 6px;
  gap: 5px;
  padding: 5px 10px;
  margin: 20px 0;
}
form.login > .flex > div.forms > .inp > i {
  color: var(--font-color);
}
form.login > .flex > div.forms > .inp input {
  color: var(--font-color);
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 17px;
}
form.login > .flex > div.forms .btn {
  width: 100%;
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
form.login > .flex > div.image {
  flex: 50%;
  background-color: rgba(0, 0, 0, 0.253);
}
form.dashboard-form {
  background-color: var(--body-color);
  padding: 30px;
  box-shadow: var(--box-shadow);
}
form.dashboard-form h1 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 27px;
}
form.dashboard-form > div {
  gap: 30px;
}
form.dashboard-form label {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--font-color);
  cursor: text;
  width: fit-content;
}
form.dashboard-form .flex-direction {
  flex: 1;
  min-width: 300px;
}

form.dashboard-form .flex-direction .inp {
  border: none;
  padding: 10px;
  font-size: 18px;
  background-color: var(--section-color);
  color: var(--font-color);
  width: 100%;
}

.selecte {
  position: relative;
}
.selecte .inp {
  color: #777;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  padding-right: 20px;
}
.table .selecte .inp {
  text-align: center;
}
body.arabic .selecte .inp {
  padding-left: 20px;
  padding-right: 10px;
}
.selecte .inp::before {
  position: absolute;
  content: "\f078";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  right: 10px;
  top: 50%;
  font-size: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
body.arabic .selecte .inp::before {
  left: 10px;
  right: auto;
}
.selecte > article {
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
  position: absolute;
  width: 100%;
  padding: 10px 15px;
  top: 140%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  max-height: 300px;
  overflow-y: auto;
  text-align: center;
}
.selecte .inp.active + article {
  transition: opacity 0.4s;
  opacity: 1;
  z-index: 2;
  pointer-events: all;
  top: 110%;
}

.selected-value {
  gap: 5px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.selected-value span {
  background-color: var(--section-color);
  padding: 5px 10px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  color: var(--font-color);
}

.selected-value span:hover {
  color: white;
  background-color: var(--main-color);
}

.selecte > article h2 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}
.selecte > article:hover h2 {
  opacity: 0.5;
}
.selecte > article h2:hover {
  opacity: 1;
}

.subjects form.dashboard-form .error {
  width: auto;
}
form.dashboard-form .btn {
  margin-top: 20px;
}
form.dashboard-form .btn.question {
  width: auto;
}
form.dashboard-form button {
  margin-top: 30px;
  font-size: 23px;
  width: 150px;
}
i.password {
  cursor: pointer;
}

/* form loading  */

.form-loading {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000028;
  justify-content: center;
  z-index: 2;
}
.form-loading > div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 4px;
  border-color: var(--main-color) transparent;
  animation: 1s rotate linear infinite;
}
.overlay form {
  border-radius: 10px;
}
.overlay form label {
  margin: 0;
}
.overlay form input {
  margin: 5px 0;
}
.overlay form.dashboard-form .flex-direction {
  gap: 10px;
}
.overlay form.dashboard-form .btn {
  margin: 0;
  width: 100%;
  font-size: 20px;
  padding: 8px;
}
.overlay form.dashboard-form .error {
  padding: 10px;
  width: 100%;
  margin-top: 0px;
}

form.exam-result {
  margin-bottom: 30px;
}
form.login .error {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}
form.quize {
  margin: 30px 0;
}

.add-question {
  display: block;
  margin-top: 20px;
  border-radius: 6px;
  background: var(--section-color);
  width: fit-content;
  padding: 10px;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--font-color);
  cursor: pointer;
}
.add-question:hover {
  background-color: var(--main-color);
  color: white;
}
form.quize i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px dashed;
}
form.quize i.delete {
  position: absolute;
  height: fit-content;
  right: 0;
  padding: 8px;
  font-size: 11px;
  color: brown;
  border: dashed 1px brown;
}
body.arabic form.quize i.delete {
  left: 0;
  right: auto;
}
form.quize i.delete:hover {
  color: white;
  background-color: brown;
  border: dashed 1px var(--body-color);
}
form.quize i.true {
  color: forestgreen;
}
form.quize i.false {
  color: brown;
}
form.quize i.true.active,
form.quize i.true:hover {
  border: solid 1px transparent;
  background-color: forestgreen;
  color: white;
}
form.quize i.false.active,
form.quize i.false:hover {
  border: solid 1px transparent;
  color: white;
  background-color: brown;
}

@keyframes rotate {
  100% {
    rotate: 365deg;
  }
}
