.admin-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  margin-bottom: 30px;
}
.admin-page > article {
  padding: 20px;
  background: var(--body-color);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  gap: 30px;
  display: flex;
}
.admin-page > article i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.admin-page > article i.teacher {
  background-color: #3f7bfc27;
  color: #3f7afc;
}
.admin-page > article i.student {
  background-color: #3cb87833;
  color: #3cb878;
}
.admin-page > article i.classes {
  background-color: #ffa0012b;
  color: #ffa001;
}

.admin-page > article > div h2 {
  text-transform: capitalize;
  color: var(--font-color);
  font-weight: 400;
}
.admin-page > article > div p {
  display: inline-block;
  font-weight: 400;
  color: var(--font-color);
}
.admin-page > article > div div {
  margin: 0 20px;
}
.admin-page > article > div div h3 {
  margin-top: 5px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--font-color);
}
div.profile {
  padding: 40px 20px;
  background-color: var(--body-color);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

div.profile .image .photo {
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 50%;
  color: var(--font-color);
  background: var(--section-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}
div.profile.admin .image .photo {
  font-size: 60px;
  width: 180px;
  height: 180px;
}

div.profile .image .center {
  margin-top: 5px;
  background-color: var(--section-color);
  text-transform: capitalize;
  color: var(--font-color);
  font-weight: 500;
  padding: 10px 15px;
  display: flex;
  border-radius: 6px;
  margin-top: 10px;
}
div.profile .image .center:hover {
  color: white;
  background: var(--main-color);
}
div.profile .info {
  flex: 1;
}
div.profile .info > h2 {
  text-transform: capitalize;
  font-size: 30px;
  position: relative;
  color: var(--font-color);
}
div.profile .info > h2 > a {
  font-size: 17px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--section-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  color: #666;
  box-shadow: var(--box-shadow);
  right: 10px;
}
div.profile .info > h2 > a:hover {
  color: white;
  background-color: var(--main-color);
}
div.profile .info > h3 {
  font-weight: 400;
  max-width: 50%;
  font-size: 17px;
  margin: 20px 0 30px;
  color: var(--font-color);
}
div.profile .info > .flex {
  align-items: center;
  margin-bottom: 15px;
}
div.profile .info > .flex h2 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 19px;
  width: 160px;
  color: var(--font-color);
}

div.profile .info > .flex p {
  font-size: 18px;
  color: var(--font-color);
}
div.profile .info > .flex p:not(.email) {
  text-transform: capitalize;
}
