.admin-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
  margin-bottom: 30px;
}
.admin-page > article {
  padding: 20px;
  background: var(--body-color);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  gap: 10px;
  display: flex;
}
.admin-page > article i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  flex-shrink: 0;
}
.admin-page > article i.teacher {
  background-color: #3f7bfc27;
  color: #3f7afc;
}
.admin-page > article i.student {
  background-color: #3cb87833;
  color: #3cb878;
}
.admin-page > article i.classes {
  background-color: #ffa0012b;
  color: #ffa001;
}

.admin-page > article > div h2 {
  text-transform: capitalize;
  color: var(--font-color);
  font-weight: 400;
}
.admin-page > article > div p {
  display: inline-block;
  font-weight: 400;
  color: var(--font-color);
}
.admin-page > article > div div {
  margin: 0 20px;
}
.admin-page > article > div div h3 {
  margin-top: 5px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--font-color);
}
div.profile {
  padding: 40px 20px;
  background-color: var(--body-color);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

div.profile .image .photo {
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 50%;
  color: var(--font-color);
  background: var(--section-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}
div.profile.admin .image .photo {
  font-size: 60px;
  width: 180px;
  height: 180px;
}

div.profile .image .center {
  margin-top: 5px;
  background-color: var(--section-color);
  text-transform: capitalize;
  color: var(--font-color);
  font-weight: 500;
  padding: 10px 15px;
  display: flex;
  border-radius: 6px;
  margin-top: 10px;
}
div.profile .image .center:hover {
  color: white;
  background: var(--main-color);
}
div.profile .info {
  flex: 1;
}
div.profile .info > h2 {
  text-transform: capitalize;
  font-size: 30px;
  position: relative;
  color: var(--font-color);
}
div.profile .info > h2 > a {
  font-size: 17px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--section-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  color: #666;
  box-shadow: var(--box-shadow);
  right: 10px;
}
body.arabic div.profile .info > h2 > a {
  left: 10px;
  right: auto;
}
div.profile .info > h2 > a:hover {
  color: white;
  background-color: var(--main-color);
}
div.profile .info > h3 {
  font-weight: 400;
  max-width: 50%;
  font-size: 17px;
  margin: 20px 0 30px;
  color: var(--font-color);
}
div.profile .info > .flex {
  align-items: center;
  margin-bottom: 15px;
}
div.profile .info > .flex h2 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 19px;
  width: 160px;
  color: var(--font-color);
}

div.profile .info > .flex p {
  font-size: 18px;
  color: var(--font-color);
}
div.profile .info > .flex p:not(.email) {
  text-transform: capitalize;
}

.stu-btn {
  padding: 8px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 17px;
}

.student-save {
  background-color: #248f58;
}
.student-cancel {
  background-color: gray;
}

.student-inp {
  border: solid 2px var(--border-color);
  padding: 2px 5px;
  margin-bottom: 4px;
  background-color: var(--section-color);
  color: var(--font-color);
  font-size: 15px;
}

@media (max-width: 1200px) {
  .admin-page {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  div.profile .image .photo {
    width: 230px;
    height: 230px;
    font-size: 65px;
  }
  div.profile .info > .flex h2 {
    font-size: 17px;
    width: 150px;
  }
  div.profile .info > .flex p {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .admin-page > article i {
    width: 70px;
    height: 70px;
  }
  .admin-page > article i {
    font-size: 19px;
  }
  .admin-page > article > div h2 {
    font-size: 21px;
  }
  .admin-page > article > div div h3 {
    font-size: 17px;
  }
  div.profile {
    flex-direction: column;
    padding: 40px;
  }
  div.profile > div {
    width: 100%;
  }
  div.profile .image .photo {
    width: 190px;
    height: 190px;
    font-size: 55px;
    margin: auto;
  }

  div.profile .info > h2 > a {
    font-size: 15px;
  }
  div.profile .image .center {
    display: none;
  }
}

@media (max-width: 800px) {
  .admin-page > article i {
    width: 60px;
    height: 60px;
  }
  .admin-page > article i {
    font-size: 17px;
  }
  .admin-page > article > div h2 {
    font-size: 19px;
  }
  .admin-page > article > div div h3 {
    font-size: 15px;
  }
  .admin-page > article > div div {
    margin: 0 10px;
  }
  div.profile .image .photo,
  div.profile.admin .image .photo {
    width: 160px;
    height: 160px;
    font-size: 45px;
  }
  div.profile .info > h2 > a {
    font-size: 13px;
    width: 25px;
    height: 25px;
  }
  div.profile .info > .flex h2 {
    font-size: 16px;
    width: 130px;
  }
  div.profile .info > .flex p {
    font-size: 14px;
  }
  div.profile {
    padding: 30px;
  }
}
@media (max-width: 600px) {
  .admin-page > article i {
    width: 55px;
    height: 55px;
  }
  .admin-page > article i {
    font-size: 14px;
  }
  .admin-page > article > div h2 {
    font-size: 17px;
  }
  .admin-page > article > div div h3 {
    font-size: 14px;
  }
  div.profile {
    padding: 30px 10px;
  }
  div.profile .image .photo,
  div.profile.admin .image .photo {
    width: 120px;
    height: 120px;
    font-size: 30px;
  }
  div.profile .info > h2 > a {
    font-size: 11px;
    width: 20px;
    height: 20px;
  }
  div.profile .info > .flex h2 {
    font-size: 14px;
    width: 115px;
  }
  div.profile .info > .flex p {
    font-size: 13px;
  }
}
