div.tabel-container {
  padding: 30px 20px;
  background-color: var(--body-color);
  border-radius: 6px;
}

div.table {
  overflow-x: auto;
  max-width: 100%;
  min-width: 600px;
  min-height: 400px;
  overflow-y: hidden;
}
div.table .search input,
.table .selecte {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: var(--section-color);
  border-radius: 6px;
  color: var(--font-color);
  border: solid 1px var(--border-color);
}
.table .selecte {
  min-width: 180px;
}
div.table .delete-all {
  margin: 10px 0;
  background-color: #e60404;
  width: fit-content;
  color: white;
  gap: 5px;
  display: flex;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  align-items: center;
  font-size: 16px;
}
div.table .delete-all:hover {
  background-color: #ce0606;
}
div.table .admin .delete {
  cursor: pointer;
  color: #e60404;
  font-size: 16px;
}
div.table .admin .update {
  color: #4400ff;
  font-size: 16px;
}
div.table .delete-all i {
  font-size: 14px;
}
div.table table {
  border-spacing: 0px;
  margin: 20px 0 10px;
  width: 100%;
}

div.table table.loading {
  min-height: 300px;
}

div.table thead {
  background-color: #333;
}
div.table thead th {
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  font-size: 19px;
  color: white;
  padding: 10px;
}

table .checkbox {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  border: solid 1px var(--font-color);
}
table .checkbox.active {
  border: solid 1px transparent;
}
table .checkbox::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(16, 228, 16, 0.705);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.4s;
}
table .checkbox.active::before {
  opacity: 1;
  transform: scale(1);
}

table .checkbox::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-weight: bold;
  rotate: 28deg;
  opacity: 0;
  transition: 0.4s;
}
table .checkbox.active::after {
  rotate: 0deg;
  transition: 0.4s;
  opacity: 1;
}

table .table-loading {
  position: absolute;
  background: var(--section-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1px;
  color: var(--font-color);
}

table a.name {
  color: var(--font-color);
}
table a.name:hover {
  text-decoration: underline;
}

div.table tbody tr:not(table.time-table tbody tr):nth-child(odd) {
  background-color: var(--section-color);
}
div.table tbody tr:not(table.time-table tbody tr):hover {
  background-color: var(--border-color);
}
div.table tbody tr:not(table.time-table tbody tr):last-child td {
  border-bottom: solid 1px var(--border-color);
}

div.table tbody tr:last-child td div.options.active-div.has-visit {
  top: -130px;
}
div.table tbody tr:last-child td div.options {
  top: -85px;
}
div.table tbody td {
  padding: 10px;
  text-align: center;
  color: var(--font-color);
  font-size: 18px;
  position: relative;
}
div.table tbody td:not(table.time-table tbody td):first-of-type {
  border-left: solid 2px var(--section-color);
  position: static;
}
body.arabic div.table tbody td:not(table.time-table tbody td):first-of-type {
  border-left: none;
  border-right: solid 2px var(--section-color);
}
div.table tbody td:not(table.time-table tbody td):last-of-type {
  border-right: solid 2px var(--section-color);
}
body.arabic div.table tbody td:not(table.time-table tbody td):last-of-type {
  border-right: none;
  border-left: solid 2px var(--section-color);
}

div.table tbody td .photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  font-size: 14px;
  margin: 0 auto;
}
div.table tbody td i.options {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
}

div.table tbody td div.options {
  position: absolute;
  width: 150px;
  background: var(--body-color);
  box-shadow: var(--box-shadow);
  left: -115px;
  padding: 8px;
  top: 100%;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
body.arabic div.table tbody td div.options {
  right: -115px;
}
div.table tbody td div.options.active-div {
  top: 80%;
}
div.table tbody td div.options div.delete {
  gap: 10px;
  color: var(--font-color);
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}
div.table tbody td div.options .update {
  font-weight: 500;
  gap: 10px;
  color: var(--font-color);
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
}
div.table tbody td div.options .visit {
  font-weight: 500;
  gap: 10px;
  color: var(--font-color);
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
}
div.table tbody td div.options div.delete:hover {
  background-color: #ce06061c;
}
div.table tbody td div.options .update:hover {
  background-color: #0011ff1f;
}
div.table tbody td div.options .visit:hover {
  background-color: #0e9e3225;
}
div.table tbody td div.options div.delete i {
  color: #ce0606;
  font-size: 16px;
}
div.table tbody td div.options .update i {
  color: #4400ff;
  font-size: 16px;
}
div.table tbody td div.options .visit i {
  color: #0e9e32;
  font-size: 16px;
}

div.table .pagination {
  padding: 10px 15px;
  margin-top: 20px;
  gap: 10px;
}
div.table .pagination h3 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: solid 1px var(--font-color);
  cursor: pointer;
}
div.table .pagination h3.active,
div.table .pagination h3:hover {
  border: solid 1px transparent;
  background-color: var(--main-color);
  color: white;
}
div.table > h2 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 10px;
}
div.table table.attendence th {
  border: solid 1px var(--border-color);
}
div.table table.attendence td {
  border: solid 1px var(--border-color);
  white-space: nowrap;
}
div.table table.attendence td.status {
  cursor: pointer;
  user-select: none;
}
div.table table.attendence td.status i {
  pointer-events: none;
}
div.table .true {
  color: #0e9e32;
}
div.table .false {
  color: #e60404;
}
.overlay h1 {
  text-transform: capitalize;
  font-size: 25px;
}
.overlay h2 {
  font-size: 20px;
}
.overlay > div .none {
  background-color: #666666;
  color: white;
  width: 50%;
  margin-top: 20px;
  cursor: pointer;
  gap: 10px;
  text-transform: capitalize;
  border-radius: 6px;
  padding: 8px;
}
.overlay > div .send {
  background-color: #4400ff;
  color: white;
  width: 50%;
  margin-top: 20px;
  cursor: pointer;
  gap: 10px;
  text-transform: capitalize;
  border-radius: 6px;
  padding: 8px;
}
.overlay > div {
  background-color: var(--section-color);
  color: var(--font-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.overlay > div .true {
  background-color: #0cbe39;
  color: white;
  width: 50%;
  margin-top: 20px;
  cursor: pointer;
  gap: 10px;
  text-transform: capitalize;
  border-radius: 6px;
  padding: 8px;
}
.overlay > div .false {
  background-color: #ce0606;
  color: white;
  width: 50%;
  margin-top: 20px;
  cursor: pointer;
  gap: 10px;
  text-transform: capitalize;
  border-radius: 6px;
  padding: 8px;
}
table.exam thead {
  background-color: var(--main-color);
}
table.exam thead th {
  border-bottom: solid 1px var(--border-color);
  color: white;
}
table.exam tbody td:hover i {
  opacity: 1;
}
table.exam tbody .icon {
  font-size: 13px;
  cursor: pointer;
  margin-right: 5px;
  opacity: 0;
}
table.exam tbody .icon:first-child {
  margin-left: 10px;
}

table.exam tbody .icon.delete {
  color: #e60404;
}
table.exam tbody .icon.update {
  color: #4400ff;
}

div.table table.exam tbody tr:not(table.time-table tbody tr):last-child td {
  border-bottom: none;
}

div.table table.exam td span {
  margin-right: 5px;
}
div.table table.exam td .div-input {
  display: none;
}
div.table table.exam td.input span {
  display: none;
}
div.table table.exam td.input .div-input {
  display: inline-block;
  border: solid 1px var(--border-color);
  padding: 0 3px;
  border-radius: 4px;
  position: relative;
  background-color: var(--body-color);
  width: 100px;
}

div.table table.exam td .div-input input {
  padding: 0 5px;
  background-color: transparent;
  border: none;
  color: var(--font-color);
}
div.table table.exam td .div-input button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  font-size: 13px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--font-color);
}
.tabel-container .day {
  border-radius: 20px;
  overflow: hidden;
}
.tabel-container .day > div {
  background-color: var(--section-color);
  padding: 10px;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--font-color);
}
.tabel-container .day > div:not(:nth-child(2)):hover {
  background-color: var(--border-color);
}
.tabel-container .day > div:nth-child(2) {
  cursor: default;
  background-color: var(--main-color);
  color: white;
}

table.time-table thead {
  background-color: transparent;
}
table.time-table thead th {
  color: var(--font-color);
  border-bottom: solid 1px var(--main-color);
}
table.time-table tbody tr:nth-child(odd) {
  background-color: var(--section-color);
}
table.time-table tbody tr .update {
  color: #4400ff;
  font-size: 15px;
  cursor: pointer;
}
table.time-table tbody tr .delete {
  color: #e60404;
  font-size: 15px;
  cursor: pointer;
}
.table.flex {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.table .green-btn {
  background-color: #07a12e;
  font-size: 17px;
}
.table .green-btn:hover {
  background-color: #057220;
}
.table .green-btn i {
  font-size: 15px;
}

div.table tbody tr.select-user:hover td,
div.table tbody tr.active td {
  background-color: #01f7ff17;
  cursor: pointer;
}
div.radio {
  width: 12px;
  pointer-events: none;
  height: 12px;
  border-radius: 50%;
  background-color: var(--border-color);
  margin: 0 auto;
  border: solid 2px var(--body-color);
  outline: var(--border-color) solid 2px;
}
div.table tbody tr.active div.radio {
  background-color: #00aeff;
  outline: #00aeff solid 2px;
}
div.table tbody td.student-quiz {
  font-size: 15px;
}
i.disabled.start {
  color: #777;
}
.missed-quiz {
  color: #e60404;
  font-weight: bold;
  text-transform: uppercase;
}
