.subjects {
  gap: 30px;
}
.subjects .tabel-container {
  flex: calc(100% - 360px);
}
.subjects form {
  flex: 240px;
}
.subjects form .inp {
  width: 100%;
  margin: 15px 0;
  border: none;
  padding: 12px 10px;
  background-color: var(--section-color);
  border-radius: 4px;
  color: var(--font-color);
  font-size: 16px;
}
.subjects form .btn {
  font-size: 18px;
  width: 100%;
  margin: 0;
}
.profile .visit-text {
  color: var(--font-color);
}
.profile .visit-text:hover {
  text-decoration: underline;
}

.course-pages {
  display: flex;
  gap: 10px;
  margin: 10px 0 30px;
  white-space: nowrap;
  overflow: auto;
}
.course-pages a {
  color: var(--font-color);
  text-transform: capitalize;
  padding: 10px;
  background-color: var(--body-color);
  border-radius: 4px;
  flex: 1;
  text-align: center;
}
.course-pages a.active,
.course-pages a:hover {
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
}

.attendace-table {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
  white-space: nowrap;
}
.attendace-table table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0px;
}
.attendace-table table thead tr {
  background-color: var(--main-color);
  color: white;
}
.attendace-table table thead tr th {
  padding: 8px;
  border-inline: solid 1px #3774a7;
  text-transform: capitalize;
}
.attendace-table table tbody tr:nth-child(odd) {
  background-color: var(--body-color);
}
.attendace-table table tbody tr:nth-child(even) {
  background-color: var(--section-color);
}

.attendance-controls {
  margin-bottom: 10px;
}
.attendance-controls input {
  background-color: var(--body-color);
  border: solid 1px var(--border-color);
  padding: 10px;
  border-radius: 4px;
  color: var(--font-color);
}

.attendace-table table tbody tr td {
  padding: 8px;
  text-transform: capitalize;
  color: var(--font-color);
  border-inline: solid 1px var(--border-color);
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.attendace-table table tbody tr td div {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.attendace-table table tbody tr td div i {
  color: white;
}
.attendace-pop-up .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.attendace-pop-up .actions .btn {
  flex: 110px;
}

@media (max-width: 900px) {
  .subjects form.dashboard-form label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .subjects form.dashboard-form .inp {
    padding: 8px;
    font-size: 17px;
    margin: 10px 0;
  }
  .subjects .selecte > article h2 {
    font-size: 15px;
  }
  .subjects form.dashboard-form button {
    font-size: 16px;
  }
  .attendace-table table thead tr th {
    padding: 6px;
    font-size: 14px;
  }
  .attendace-table table tbody tr td {
    padding: 7px;
    font-size: 12px;
    max-width: 150px;
  }
  .attendace-table table tbody tr td div {
    width: 25px;
    height: 25px;
  }
  .attendace-table table tbody tr td div i {
    font-size: 12px;
  }
  .attendance-controls input {
    padding: 8px;
  }
}

@media (max-width: 650px) {
  .subjects form.dashboard-form label {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .subjects form.dashboard-form .flex-direction .inp {
    font-size: 15px;
  }
  .subjects .selecte > article h2 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .subjects .selecte > article {
    padding: 8px 15px;
  }
  .subjects form.dashboard-form .inp {
    font-size: 15px;
  }
  .course-pages {
    margin: 10px 0 20px;
  }
  .course-pages a {
    padding: 6px;
    font-size: 14px;
  }
  .attendace-table table thead tr th {
    font-size: 12px;
  }
  .attendace-table table tbody tr td {
    padding: 6px;
    font-size: 11px;
    max-width: 120px;
  }
  .attendace-table table tbody tr td div {
    width: 20px;
    height: 20px;
  }
  .attendace-table table tbody tr td div i {
    font-size: 9px;
  }
  .attendance-controls input {
    padding: 8px;
    font-size: 11px;
  }
}
